<?php
<style type="text/css">
/*div{
	border: thin;
}
border: 3px solid #f1f1f1;*/
input[type=text], select, textarea {
    width:150%;
    padding:12px 20px;
    border:1px solid #ccc;
    border-radius: 4px;
   box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    alignment-baseline: central;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:100%;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    text-align: center;
    border-radius: 1px;
    background-color: pink;
    padding: 10px;
  }  

</style>
?>